<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="padding">
  <h1>History</h1>
  <p *ngIf="workouts.length > 0">Tap a workout to view details</p>
  <p *ngIf="workouts.length === 0">No workouts saved yet.</p>
  <ion-button *ngIf="workouts.length > 0" color="danger" (click)="clearHistory()">
    Clear All Workouts
  </ion-button>

  <ion-card *ngFor="let workout of workouts">
    <ion-card-header>
      <ion-card-title>{{ formatDate(workout.startedAt) }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Duration: {{ formatDuration(workout.durationSeconds) }}</p>
      <p>Total Volume: {{ workout.totalVolume }} kg</p>
      <ion-button fill="clear" size="small" (click)="toggleWorkoutDetails(workout.id)">
        {{ expandedWorkoutId === workout.id ? '▲ Hide Details' : '▼ Show Details' }}
      </ion-button>

      <div *ngIf="expandedWorkoutId === workout.id">
        <div *ngFor="let exercise of workout.exercises" class="exercise-block">
          <h3>{{ exercise.name }}</h3>

          <div *ngFor="let set of exercise.sets; let i = index" class="set-line">
            <p>
              Set {{ i + 1 }}:
              {{ set.reps }} reps × {{ set.weight }} kg
            </p>
          </div>
        </div>
      </div>
    </ion-card-content>

  </ion-card>