<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Log Workouts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding log-workout-content">
  <h1>Log Workouts</h1>
  <p class="summary-text">Timer {{ formatTime(elapsedSeconds) }}</p>
  <p class="summary-text">Total Volume: {{ getTotalVolume() }} kg</p>

  <ion-button *ngIf="!workoutStarted" (click)="startWorkout()">Start Workout</ion-button>
  <ion-button *ngIf="workoutStarted" (click)="goToExercises()">View Exercises</ion-button>

  <ion-card *ngFor="let exercise of currentWorkout.exercises" class="exercise-card">
    <ion-card-header>
      <ion-card-title>{{ exercise.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="exercise.previousSession && exercise.previousSession.length > 0" class="previous-session">
        Previous:
        <span *ngFor="let prev of exercise.previousSession; let last = last">
          {{ prev.reps }} x {{ prev.weight }}kg<span *ngIf="!last">, </span>
        </span>
      </p>

      <div *ngFor="let set of exercise.sets; let i = index" class="set-block">
        <p>Set {{ i + 1 }}</p>

        <ion-input type="number" placeholder="Reps" [(ngModel)]="set.reps">
        </ion-input>

        <ion-input type="number" placeholder="Weight" [(ngModel)]="set.weight">
        </ion-input>

        <ion-button size="small" [color]="set.completed ? 'success' : 'medium'" (click)="toggleSetComplete(set)">
          {{ set.completed ? 'Completed' : 'Mark Complete' }}
        </ion-button>
      </div>

      <ion-button size="small" (click)="addSet(exercise)">
        Add Set
      </ion-button>

      <p class="volume-text">Exercise Volume: {{ getExerciseVolume(exercise) }} kg</p>
    </ion-card-content>
  </ion-card>
  <ion-button *ngIf="workoutStarted && currentWorkout.exercises.length > 0" color="success" (click)="finishWorkout()">
    Finish Workout
  </ion-button>
</ion-content>