<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button> defaultHref="/home"></ion-back-button>
    </ion-button>
    <ion-title>Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionInput)="onSearchChange()"
    placeholder="Search exercises">
  </ion-searchbar>

  <ion-card *ngFor="let exercise of exercises">
    <ion-card-header>
      <ion-card-title>{{ exercise.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p><strong>Body Part:</strong> {{ exercise.bodyPart }}</p>
      <p><strong>Equipment:</strong> {{ exercise.equipment }}</p>
      <p><strong>Target:</strong> {{ exercise.target }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
