<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Workout Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-content">

  <div class="wordmark">
    <h1>
      Welcome to Workout Tracker!</h1>
    <p>Track your workouts and achieve your fitness goals.</p>
  </div>

  <ion-card class="hero-card">
    <ion-card-content>
      <h2>Ready to train?</h2>
      <p>Choose a section below and keep your progress moving.</p>
    </ion-card-content>
  </ion-card>


  <div class="buttons">
    <ion-button expand="block" routerLink="/exercises" class="home-button">Exercises</ion-button>
    <ion-button expand="block" routerLink="/log-workout" class="home-button">Log Workout</ion-button>
    <ion-button expand="block" routerLink="/history" class="home-button">History</ion-button>
    <ion-button expand="block" routerLink="/settings" class="home-button">Settings</ion-button>
  </div>
</ion-content>